body{
    background-color: rgb(243, 245, 239);
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
  }
  
.Homecontainer{
    text-align: center;
    height: 60rem;
}
  .main{
    margin-top: 7.3rem;
    font-family: sans-serif;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    
  }
  .h1Home{
    color: #000000; 
    font-size: 9rem;
    text-shadow: 2px 2px #616161;
     
  }
  .HomeAni1{
    animation: slideH1 2s ; 
    animation-timing-function: ease-in;
    
  }
  .fontupAni1{
    animation: fontup 5s infinite ; 
    animation-delay: 3s;

  }
  .fontupAni2{
    animation: fontup2 3s infinite ; 

  }
   @keyframes slideH1 {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .roller{
    height: 6.125rem;
    line-height: 6rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7c967;
    font-size: 6.5rem;
    text-shadow: 2px 2px #fc5eb5;
  }
  
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 2s ;  
  }
  
  @keyframes slide {
    0%{
      top:0px;
      opacity: 0;
    }
    25%{
      top: -9rem;    
    }
    50%{
      top: -12rem;
    }
    72.5%{
      top: -14.25rem;
    }
  }
  @keyframes fontup {
    0%{
     font-size: 9.01rem;
    }
    25%{
        font-size: 9.02rem   
    }
    50%{
        font-size: 9.03rem
    }
    72.5%{
        font-size: 9.04rem
    }
  }
  @keyframes fontup2 {
    0%{
     font-size:  6.51rem;
    }
    25%{
        font-size:  6.52rem   
    }
    50%{
        font-size:  6.53rem
    }
    72.5%{
        font-size:  6.54rem
    }
  }

 .scrolldown{
    background-color: rgb(243, 245, 239);
    color: black;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    margin: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    animation: slideH1 3s ; 
    animation-timing-function: ease-in;
 }
 

.scrolldown:hover {
    background-color: #fc5eb5;
    color: rgb(243, 245, 239);
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(32, 32, 32);
  color: rgb(230, 213, 63);
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  text-shadow: 2px 2px #fc5eb5;
}

.myBtn:hover {
  color: rgb(243, 245, 239);
  background-color: rgb(163, 162, 162);
  text-shadow: 2px 2px #0f0f0f;
}
